@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PorterSansBlock;
  src: url('../public/fonts/porter-sans-inline-block-webfont.woff') format('woff');
}

@font-face {
  font-family: LexendZetta;
  src: url('../public/fonts/LexendZetta-VariableFont_wght.ttf') format('woff');
}

@font-face {
  font-family: Megrim;
  src: url('../public/fonts/Megrim-Regular.ttf');
}

@font-face {
  font-family: Mohave;
  src: url('../public/fonts/Mohave-VariableFont_wght.ttf');
}

@font-face {
  font-family: Outfit;
  src: url('../public/fonts/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: AguafinaScript;
  src: url('../public/fonts/AguafinaScript-Regular.ttf');
}

@font-face {
  font-family: LibreBarcode128;
  src: url('../public/fonts/LibreBarcode128Text-Regular.ttf');
}

@font-face {
  font-family: Ephesis;
  src: url('../public/fonts/Ephesis-Regular.ttf');
}

html {
  background-color: black;
}

html, body {
  position: relative;
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
